.App {
}

.App-todos {
  padding: 10px;
}

.App-list-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.App-show-completed {
  background: orange;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
